<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>
    Accueil | Ndamba
  </title>

  <link rel="preconnect" href="https://fonts.bunny.net" />
  <link href="https://fonts.bunny.net/css?family=inter-tight:400,400i,500,500i,600,600i,700,700i" rel="stylesheet" />

  @vite(['resources/css/app.css', 'resources/js/app.js'])
  @stack('dumper')
</head>

<body class="min-h-screen w-screen flex items-center justify-center bg-gray-100">

  <h1 class="text-2xl font-semibold text-primary">Association de football amateur - Ndamba</h1>
</body>

</html>